body {
  overflow-x: hidden;
}

.carousel-item.custom-bg {
  background-image: url("../img/hero-bg.jpg"); /* Correct relative path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  color: white;
  background-color: #10e7f4;
}

.carousel-item.custom-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 1;
}

.carousel-item.custom-bg .container {
  position: relative;
  z-index: 2;
}

.detail-box h1 {
  color: #2c2c2c;
  text-shadow: 2px 2px 8px rgba(57, 238, 248, 0.6);
}

.detail-box span {
  font-size: 4rem;
  color: #ffffff;
  font-weight: bold;
  /* background: linear-gradient(90deg, #f2f9f9, #e9f4f8, #f5fafa); */
  /* -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear; */
}

.detail-box p {
  color: #ffffff;
}

.detail-box a.btn {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 1.1rem;
}

.img-box img {
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  /* text-align: center; */
}

.mkbox {
  background-image: url(./../img/offer.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#10e7f4, black);

  border-radius: 20px;
}
